# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
test.pdf

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea

# Winston logs
combined.log
error.log
